@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Spartan and Open Sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer base {
	body {
		@apply font-lato;
	}
	h1 {
		@apply font-playfair;
		@apply text-6xl;
		@apply font-bold;
	}
	h2 {
		@apply font-lato;
		@apply text-2xl;
	}
	h3 {
		@apply font-playfair;
		@apply font-bold;
		@apply text-3xl;
	}
	h4 {
		@apply font-playfair;
		@apply font-bold;
		@apply text-2xl;
	}
	p {
		@apply font-lato;
	}
}

@layer components {
	.App {
		background: #F9F4F0;
		min-height: 100vh;
	}
	.dock-container {
		position: fixed;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 9999;
	}


	.home-container {
		margin-left: clamp(1rem, 10vw, 15rem);
		margin-right: clamp(1rem, 10vw, 15rem);
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height: clamp(400px, 50vh, 700px);
		gap: clamp(0rem, 4vw, 2rem);
		z-index: 1;
	}
	#bio-container {
		width: 60%;
		max-width: 500px;
		text-align: left;
	}
	#image-container {
		height: 60%;
	}
	#headshot {
		height: 100%;
		width: auto;
		object-fit: contain;
	}

	.experience-container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-self: center;
		margin-bottom: 5%;
		z-index: 1;
	}
	.experience-timeline {
		margin-left: 15%;
	}
	.title-header {
		align-self: self-start;
	}

	.projects-container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-self: center;
		margin-bottom: 5%;
		z-index: 1;
	}
	.project-cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
		width: 100%;
		grid-auto-rows: 1fr;
	}
	.project-card {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 12px;
		padding: 1.5rem;
		box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  		transition: transform 0.3s ease, box-shadow 0.3s ease;
		text-align: left;
		width: 325px;
		display: flex;
		flex-direction: column;
		
	}
	.project-card:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 16px rgba(0,0,0,0.12);
	}
	.project-tags {
		display: flex;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
		flex-wrap: wrap;
	}
	.tag {
		padding: 0.4rem 1rem;
		border: 1px solid #ddd;
		border-radius: 20px;
		font-size: 0.85rem;
		color: #666;
		font-family: "Playfair Display", serif;
		font-weight: bold;
	}
	.project-image {
		width: 100%;
		margin-bottom: 1.5rem;
		border-radius: 8px;
		aspect-ratio: 4 / 3;
		overflow: hidden;
		border-radius: 12px;
		box-shadow: 0 2px 8px rgba(0,0,0,0.06);
		margin-top: auto;
	}
	.project-image img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
	.view-project-btn {
		background: #000;
		color: white;
		padding: 0.8rem 2rem;
		border: none;
		border-radius: 25px;
		font-size: 0.9rem;
		cursor: pointer;
		transition: background 0.3s ease;
	}
	.view-project-btn:hover {
		background: #333;
	}

	.connect-container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		align-self: center;
		z-index: 1;
	}
	.connect-form {
		width: 80%;
		border-radius: 30px;
		background: rgba(255, 255, 255, 0.5);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		align-self: center;
		text-align: left;
		padding: 2rem;
	}
	
	
}

@media (max-width: 480px) {
	/* general heading / paragraph reductions for iPhone widths */
	h1 { @apply text-2xl; }
	h2 { @apply text-base; }
	h3 { @apply text-xl; }
	h4 { @apply text-xl; }
	p  { @apply text-sm; }

	/* optional: adjust specific containers */
	#bio-container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	}

	.experience-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-self: center;
	}
		.experience-timeline {
		margin-left: 0;
	}

	.title-header {
		align-self: self-start;
		margin-left: 10%;
	}

}